.dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
}

main{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}