.dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
}

main{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 40px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#e3a72f; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0; /* Some padding */
    margin: 0;
    border-radius: 500%; /* Rounded corners */
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 18px; /* Increase font size */
  }
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

i {
    vertical-align: middle;
}

.buttonClose{
    background-color: Transparent;
    background-repeat:no-repeat;
    color: red;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    background-image: none;
}

#searchButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    background-image: none;
}

#todoButton{
    margin-left: 20px;
    display: none;
}